<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.I200557"
        tools:targetApi="31">
        <activity
            android:name=".MainChat"
            android:exported="false" />
        <activity
            android:name=".picture"
            android:exported="false" />
        <activity
            android:name=".report"
            android:exported="false" />
        <activity
            android:name=".editProfile"
            android:exported="false" />
        <activity
            android:name=".MainActivity3"
            android:exported="false" />
        <activity
            android:name=".postItem"
            android:exported="false" />
        <activity
            android:name=".item"
            android:exported="false" />
        <activity
            android:name=".profile"
            android:exported="false" />
        <activity
            android:name=".messages"
            android:exported="false" />
        <activity
            android:name=".chat"
            android:exported="false" />
        <activity
            android:name=".searchResults"
            android:exported="false" />
        <activity
            android:name=".search"
            android:exported="false" />
        <activity
            android:name=".home"
            android:exported="false" />
        <activity
            android:name=".registration"
            android:exported="false" />
        <activity
            android:name=".audioCall"
            android:exported="false" />
        <activity
            android:name=".videoCall"
            android:exported="false" />
        <activity
            android:name=".Videocam2"
            android:exported="false" />
        <activity
            android:name=".photocam"
            android:exported="false" />
        <activity
            android:name=".emailVerification"
            android:exported="false" />
        <activity
            android:name=".Frags"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".forgotpassword"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">


            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>